<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never" fxLayout fxLayoutAlign="center center">
    <input matInput  placeholder="Search" autocomplete="off" >
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="design-container mat-elevation-z8 ">
  <button mat-raised-button  (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-table [dataSource]="dataSource"  matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="adherent">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Adherent</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.adherent.prenom}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="livre">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Livre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.livre.titre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datePret">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date de pret</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.datePret | date: 'dd/MM/yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DateRetour">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Date de retour</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.DateRetour | custom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Date de retour</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button  (click)="onEdit(row.id)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" ><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>


