<div class="search-div">
  <mat-form-field class="search-form-field" floatLabel="never" fxLayout fxLayoutAlign="center center">
    <input matInput  placeholder="Search" autocomplete="off" >
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="design-container mat-elevation-z8 ">
  <button mat-raised-button  (click)="onCreate()" style="margin-left: 50px">
    <mat-icon>add</mat-icon>Emprunte
  </button>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="adherent">
      <th mat-header-cell *matHeaderCellDef>Adherent</th>
      <td mat-cell *matCellDef="let element"> {{element.adherent.prenom}} {{element.adherent.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="livre">
      <th mat-header-cell *matHeaderCellDef> Livre </th>
      <td mat-cell *matCellDef="let element"> {{element.livre.titre}} </td>
    </ng-container>

    <ng-container matColumnDef="datePret">
      <th mat-header-cell *matHeaderCellDef> Date de Pret </th>
      <td mat-cell *matCellDef="let element"> {{element.datePret | custom}} </td>
    </ng-container>

    <ng-container matColumnDef="DateRetour">
      <th mat-header-cell *matHeaderCellDef> Date de Retour </th>
      <td mat-cell *matCellDef="let element"> {{element.DateRetour | custom}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>


<!--    <ng-container matColumnDef="details">-->
<!--      <th mat-header-cell *matHeaderCellDef> Details </th>-->
<!--      <td mat-cell *matCellDef="let element">-->
<!--        <button mat-icon-button color="primary" >-->
<!--          <mat-icon class="mat-18">reorder</mat-icon>-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="rendre">
      <th mat-header-cell *matHeaderCellDef> Rendre </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onEdit(element.id)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </td>
    </ng-container>

<!--    <ng-container matColumnDef="delete">-->
<!--      <th mat-header-cell *matHeaderCellDef> Delete </th>-->
<!--      <td mat-cell *matCellDef="let element">-->
<!--        <button mat-icon-button color="warn" (click)="onDelete()">-->
<!--          <mat-icon class="mat-18">delete</mat-icon>-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3,5, 10]" [pageSize]="3"></mat-paginator>
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>


